@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Poppins', sans-serif;
}

.text-animation {
    @apply text-2xl font-semibold;
    background: linear-gradient(45deg, #3490dc, #60a5fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.social-icons a {
    @apply inline-flex items-center justify-center w-10 h-10 rounded-full border-2 border-blue-500 text-blue-500 transition-all duration-300;

    &:hover {
        @apply bg-blue-500 text-white transform scale-110;
    }
}

.btn {
    @apply inline-block px-6 py-3 rounded-full font-semibold transition-all duration-300;

    &:hover {
        @apply transform scale-105 shadow-lg;
    }
}

$highlight-color: rgb(59, 130, 246);


.prose code, .prose b, .prose strong, code, b, strong {
    color: $highlight-color !important;
}

.carousel-image {
    width: 300px;
    height: 200px;
    object-fit: contain;
    border-radius: 0.5rem;
}
